.wrapper {
  width: 300px;
  padding: 24px 20px;
}

.menuItem {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  border-radius: 4px;
  color: #2e2d2d;
  padding: 12px 6px;
}

.menuItem:hover {
  background: rgba(22, 24, 35, 0.03);
}

a.active {
  color: var(--primary);
}

.menuIcon {
  font-size: 26px;
}

.title {
  margin-left: 12px;
}
